* {
  box-sizing: border-box;
}

.container{
  display: flex;
}

.heading {
  background-color: blue;
  color: white;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  height: 2em;
  padding-top: 25px;
  padding-left: 15px;
}

p {
  margin-left: 20px;
  margin-top: 0px;
  margin-bottom: 0px;
}